@import url(https://fonts.google.com/specimen/Red+Hat+Display);

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    /* Colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturate-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: var(--pale-blue);
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.image {
    border-radius: 15px 15px 0 0;
}

.content-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}


.order-summary {
    text-align: center;
}

.description {
    text-align: center;
    padding-bottom: 15px;
}

.pricing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
    background-color: var(--very-pale-blue);
    border-radius: 15px;
}

.plan-container {
    display: block;
}

.cancel-order {
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;
    text-decoration: none;
}

.change {
    text-decoration: none;
}

.change:hover {
    text-decoration: underline;
}

.plan-details {
    font-weight: 700;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.cancel-order:hover {
    text-decoration: underline;
}

.payment-button {
    width: 100%;
    padding: 1rem 1rem;
    background-color: var(--bright-blue);
    color: white;
    border: none;
    border-radius: 15px;
}

.payment-button:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}